USE [master]
GO

/****** Object:  Database [TData]    Script Date: 04/11/2013 17:11:59 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'TData')
DROP DATABASE [TData]
GO

USE [master]
GO

/****** Object:  Database [TData]    Script Date: 04/11/2013 17:11:59 ******/
CREATE DATABASE [TData] ON  PRIMARY 
( NAME = N'TData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\TData.mdf' , SIZE = 20736KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\TData_log.LDF' , SIZE = 5824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

use TData
go 


/****** Object:  Table [dbo].[TData]    Script Date: 04/11/2013 16:55:42 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TData]') AND type in (N'U'))
DROP TABLE [dbo].[TData]
GO
/****** Object:  Table [dbo].[TData]    Script Date: 04/11/2013 16:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fromKTO] [int] NOT NULL,
	[toKTO] [int] NOT NULL,
	[amnt] [decimal](18, 0) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Transacto] [image] NULL,
 CONSTRAINT [PK_TData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
